<ion-view title="Risc 2 Results" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="risc2Results-card25">
            <ion-item class="item-icon-left balanced" id="risc2Results-list-item16">
                <i class="icon ion-android-contract"></i>82.34%</ion-item>
            <div class="item item-body" id="risc2Results-list-item-container8">
                <div id="risc2Results-markdown9" style="color:#000000;">
                    <p style="margin-top:0px;">
                        <strong>1 Year</strong> survival rate</p>
                </div>
            </div>
        </div>
        <div class="list card" id="risc2Results-card26">
            <ion-item class="item-icon-left positive" id="risc2Results-list-item17">
                <i class="icon ion-android-contract"></i>52.30%</ion-item>
            <div class="item item-body" id="risc2Results-list-item-container9">
                <div id="risc2Results-markdown10" style="color:#000000;">
                    <p style="margin-top:0px;">
                        <strong>2 Years</strong> survival rate</p>
                </div>
            </div>
        </div>
        <div class="list card" id="risc2Results-card27">
            <ion-item class="item-icon-left assertive" id="risc2Results-list-item18">
                <i class="icon ion-android-contract"></i>22.12%</ion-item>
            <div class="item item-body" id="risc2Results-list-item-container10">
                <div id="risc2Results-markdown11" style="color:#000000;">
                    <p style="margin-top:0px;">
                        <strong>5 Years</strong> survival rate</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
