<ion-view title="Risc Calculator" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="riscCalculator-card28">
            <div class="item item-body" id="riscCalculator-list-item-container12">
                <h2 id="riscCalculator-heading2" style="color:#000000;text-align:center;">Legal Disclaimer</h2>
                <div id="riscCalculator-markdown14" style="color:#000000;">
                    <p style="margin-top:0px;">This communication, which may contain confidential and/or legally privileged information, is intended solely for the use of the intended addressees. All information or advice contained in this communication is subject to the terms
                        and conditions provided by the agreement governing each particular client engagement. If you have received this communication in error, please notify us immediately by responding to this email; then please delete it from your system.
                        Any use, disclosure, copying or distribution of the contents of this communication by a not-intended recipient or in violation of the purposes of this communication is strictly prohibited and may be unlawful. The transmission technology
                        used to send this mail can grant neither the sender</p>
                </div>
                <div class="spacer" style="width: 268px; height: 51px;"></div>
                <form id="riscCalculator-form7" class="list">
                    <label class="item item-input" id="riscCalculator-input6" name="email_address">
                        <input type="email" placeholder="Email Address" ng-model="user_data.email_address">
                    </label>
                    <label class="item item-input" id="riscCalculator-input7" name="full_name">
                        <input type="text" placeholder="Full Name" ng-model="user_data.full_name">
                    </label>
                    <button ng-click="checkAndContinue()" id="riscCalculator-button6" class="button button-positive  button-block">Accept and continue</button>
                    <div id="riscCalculator-markdown15" style="color:#000000;text-align:center;">
                        <p>
                            <strong>Sponsored By:</strong>
                        </p>
                    </div>
                    <div>
                        <img src="img/YTyUlHsRjCNU9pmRonht_LogoPalinuro.jpg" style="height:90px; display: block; margin-left: auto; margin-right: auto;">
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
